.titulo-home {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.divider-home {
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 15px;
}

.partida-icon-option.active {
    padding-left: 50px;
    cursor: pointer;
}

.partida-icon-option {
    padding-left: 50px;
}

.partida-chip{
    padding-left: 50px;
}