<h1 class="titulo-home">Lista de partidas</h1>
<mat-divider class="divider-home"></mat-divider>
<mat-grid-list cols="1" rowHeight="50px" gutterSize="25px" style="padding-bottom: 20px;">
  <mat-grid-tile
      *ngFor="let option of filteredOptions | async"
      [colspan]="1"
      [rowspan]="1">
    <h3>{{option.name}}</h3>
    <mat-icon *ngIf="option.estado == 0" (click)="openDetail(option)" class="partida-icon-option active" aria-hidden="false" aria-label="Jugar">play_circle_filled</mat-icon>
    <mat-icon *ngIf="option.estado == 1" (click)="openDetail(option)" class="partida-icon-option active" aria-hidden="false" aria-label="Partida Ganada">check_circle</mat-icon>
    <mat-icon *ngIf="option.estado == 2" (click)="openDetail(option)" class="partida-icon-option active" aria-hidden="false" aria-label="Partida Perdida">highlight_off</mat-icon>
    <mat-chip-list class="partida-chip">
      <mat-chip>ID : {{option.id}}</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>
</mat-grid-list>
<div style="text-align: center;">
<button mat-raised-button color="primary" (click)="openPartidaDialog()">Nueva partida</button>
</div>