<h2 mat-dialog-title>Nueva partida</h2>
<mat-dialog-content>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nombre de la partida" (input)="inputChanged($event)">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="nombre">Enviar</button>
</mat-dialog-actions>