<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="header-icon" aria-hidden="false" aria-label="">settings</mat-icon>
    <span style="cursor: pointer;" [routerLink]="['']">MasterMind</span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>