<h2 mat-dialog-title>Realizar jugada</h2>
<mat-dialog-content>
    <form>
        <mat-form-field>
            <input matInput placeholder="Jugada (C,C,C,C)" (input)="inputChanged($event)">
            <mat-hint>Colores validos: R,G,B,Y,P,O</mat-hint>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="jugada">Enviar</button>
</mat-dialog-actions>