<div *ngIf="partida" class="div-jugadas">
  <h1>Partida - {{partida.name}} (ID: {{partida.id}})</h1>
  <h3>Lista de jugadas</h3>
  <mat-list role="list" style="margin-bottom: 25px;">
      <mat-list-item role="listitem"
          *ngFor="let jugada of jugadas" >
        <h4 style="margin-right: 15px;">+ ID: {{jugada.id}} | </h4>
        <span class="circle" style="margin-right: 25px;" [ngStyle]="{'background-color': jugada.jugada.p1}"></span>
        <span class="circle" style="margin-right: 25px;" [ngStyle]="{'background-color': jugada.jugada.p2}"></span>       
        <span class="circle" style="margin-right: 25px;" [ngStyle]="{'background-color': jugada.jugada.p3}"></span>
        <span class="circle" style="margin-right: 25px;" [ngStyle]="{'background-color': jugada.jugada.p4}"></span>
        <h4 style="margin-right: 15px;">Respuesta: </h4>
        <span *ngFor="let respuesta of jugada.respuesta" class="circle" style="margin-right: 25px;" [ngStyle]="{'background-color': respuesta}"></span>
      </mat-list-item>
  </mat-list>
  <button mat-raised-button color="primary" (click)="openJugadaDialog()" *ngIf="partida && partida.estado == 0">Nueva jugada</button>
  <span style="padding-left: 25px;">Quedan: {{partida.intentos}} intentos.</span>
  <h1 *ngIf="partida && partida.estado == 1">Has ganado!</h1>
  <h1 *ngIf="partida && partida.estado == 2">Has perdido!</h1>
</div>